// @import "variable";

.tokenImg {
  display: block;
  margin: auto;
}

// $color-palette: #dad5d2 #3a3532 #375945 #5b8767 #a6c198;

// $bgColor: rgba(172, 30, 255, 0.137129) rgba(188, 63, 51, 0.2)
//   rgba(204, 0, 72, 0.2) rgba(46, 220, 178, 0.2) rgba(199, 115, 38, 0.2);

// @each $color in $bgColor {
//   $i: index($bgColor, $color); //index는 list의 내장함수
//   .tokensList li:nth-child(#{$i}) {
//     background: radial-gradient(
//         85.21% 85.21% at 50% -17.61%,
//         $color 0%,
//         $color 0%,
//         $color 0%,
//         $color 100%
//       ),
//       rgba(255, 255, 255, 0.05);
//   }
// }

.tokens {
  position: relative;
  padding: 30px 20px;
  list-style: none;
  backdrop-filter: blur(30px);
  border-radius: 12px;
  background-image: url("/public/image/intersect.png");
  background: radial-gradient(
      85.21% 85.21% at 50% -17.61%,
      rgba(199, 115, 38, 0.2) 0%,
      rgba(199, 115, 38, 0) 100%
    ),
    rgba(255, 255, 255, 0.05);
}

$color: #ffffff;

.tokenName {
  display: block;
  text-align: center;
  color: $color;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 8px 0;
}

.tokenGame {
  display: block;
  text-align: center;
  color: #bfbfbf;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 25px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
}

.tokenDollar {
  color: $color;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.tokenRate {
  color: #27c683;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background: rgba(39, 198, 131, 0.1);
  border-radius: 12px;
  padding: 3px 6px;
}
