html,
body {
  width: 100%;
  background: black;
  padding: 0;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
img {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.slick-slide > div {
  display: inline-block;
}

.slick-slider {
  text-align: center;
}

/* .slick-list {
  margin-right: -20px;
}

.slick-slide {
  padding-right: 20px;
} */

@media screen and (min-width: 1300px) {
  body {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .slick-list {
    margin-right: -20px;
  }

  .slick-slide {
    padding-right: 20px;
  }
}
